<div class="d-flex flex-column border align-items-center rounded">
  <div class="container">
    <h5
      class="py-2 ps-3 text-white rounded-top"
      style="background-color: #40417d"
    >
      Public Announcements
    </h5>
  </div>

  <div id="announcement" class="w-100">
    <hr style="width: 100%" />
    <div class="container">
      <p class="py-1 ps-2" style="font-size: 15px; background-color: #f2f7ff">
        3/11/22 - Thurs
      </p>
    </div>
    <hr style="width: 100%" />
    <div class="container py-1 px-2">
      <h6 class="pb-1" style="font-size: 16px">Director</h6>
      <p style="font-size: 15px">
        Due to inflation, interest rates have gone up.
      </p>
    </div>
  </div>
  <div id="announcement" class="w-100">
    <hr style="width: 100%" />
    <div class="container">
      <p class="py-1 ps-2" style="font-size: 15px; background-color: #f2f7ff">
        1/11/22 - Tues
      </p>
    </div>
    <hr style="width: 100%" />
    <div class="container py-1 px-2">
      <h6 class="pb-1" style="font-size: 16px">Manager</h6>
      <p style="font-size: 15px">
        This will be dynamically produced in the future.
      </p>
    </div>
  </div>
  <div id="announcement" class="w-100">
    <hr style="width: 100%" />
    <div class="container">
      <p class="py-1 ps-2" style="font-size: 15px; background-color: #f2f7ff">
        1/10/22 - Sat
      </p>
    </div>
    <hr style="width: 100%" />
    <div class="container py-1 px-2">
      <h6 class="pb-1" style="font-size: 16px">CEO</h6>
      <p style="font-size: 15px">
        Despite of Covid-19 and high interest rates, we will try our best to
        provide the best services for our customers and employees.
      </p>
    </div>
  </div>
  
  <div
    class="container"
    style="cursor: pointer"
    (click)="publicAnnounceShowMore()"
  >
    <hr style="width: 100%" />
    <p
      class="text-center text-secondary rounded-bottom"
      style="font-size: 15px; background-color: #fafcff"
    >
      Show more
    </p>
  </div>
</div>
