<!-- https://dribbble.com/shots/14472838-Blueberry-CRM-Dashboard-Template-Interaction -->

<!-- <app-admin-navbar ></app-admin-navbar> -->
<!-- <div class="d-flex" style="height: 95.2vh !important">
  <app-sidenav></app-sidenav>
  <div class="d-flex justify-content-center" style="width: 100%">
    <router-outlet></router-outlet>
  </div>
</div> -->

<nav class="d-flex align-items-center py-2" style="background-color: #40417d">
  <div
    class="d-flex mt-1 align-items-center ms-3"
    style="cursor: pointer"
    mat-button
    (click)="drawer.toggle()"
  >
    <h4 style="font-size: 25px"><i class="text-white bi bi-list"></i></h4>
  </div>
  <div class="ms-auto d-flex align-items-center mt-1" style="cursor: pointer">
    <h3><i class="px-2 bi bi-person-circle text-light"></i></h3>
    <h5 style="font-size: 17px" class="text-white me-3">
      {{ getUsername() }}
    </h5>
  </div>
</nav>

<mat-drawer-container class="" style="height: 95.2vh !important" autosize>
  <mat-drawer #drawer class="" mode="side">
    <app-sidenav></app-sidenav>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
