/* table tr:last-child td:first-child {
    border: 2px solid orange;
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border: 2px solid green;
    border-bottom-right-radius: 10px;
} */

i {
  cursor: pointer;
}

i:hover {
  color: cornflowerblue !important;
}

* {
  margin: 0;
  padding: 0;
}

#header {
  border: 1px solid #e6e6e6;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #40417d;
  color: white;
}

#body {
  border: 1px solid #e6e6e6;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
}

#firstHeader {
  border: 1px solid #e6e6e6;
  align-items: center;
  padding-right: 21px;
  background-color: #40417d;
  color: white;
}

.spinner-grow {
  width: 19px;
  height: 19px;
  margin-left: 3px;
  display: none;
}