/* table tr:last-child td:first-child {
    border: 2px solid orange;
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border: 2px solid green;
    border-bottom-right-radius: 10px;
} */

i {
  cursor: pointer;
}

i:hover {
  color: cornflowerblue !important;
}

* {
  margin: 0;
  padding: 0;
}
