<div class="card border" style="width: 20rem">
  <!-- <div
    class="card-title text-center bg text-white py-2 rounded-top"
    style="background-color: #40417d"
  >
    <h5>Login</h5>
  </div> -->
  <form [formGroup]="loginForm" class="px-4 pt-1 pb-3" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username" class="form-label">Username: </label>
      <input
        type="text"
        class="form-control p-1"
        formControlName="username"
        [ngClass]="isInvalid('username')"
      />
      <div
        *ngIf="isSubmitted && username!.hasError('required')"
        class="text-danger"
      >
        <small> Username cannot be left blank.</small>
      </div>
    </div>
    <label for="password" class="form-label mt-1">Password: </label>
    <input
      type="password"
      class="form-control p-1"
      formControlName="password"
      [ngClass]="isInvalid('password')"
    />
    <div
      *ngIf="isSubmitted && password!.hasError('required')"
      class="text-danger"
    >
      <small> Password cannot be left blank.</small>
    </div>
    <div class="text-center py-1 px-3">
      <button type="submit" class="btn btn-light border rounded mt-2">
        Login
      </button>
      <button
        type="button"
        class="btn btn-light border rounded mt-2 ms-2"
        style="background-color: #dff2f5"
      >
        Get Started
      </button>
    </div>
  </form>
  <div class="card-footer text-bg-light">
    <a [routerLink]="" class="link-secondary" style="cursor: pointer"
      >Forgot password?</a
    >
  </div>
</div>
