<div class="d-flex flex-column border rounded" style="width: 236px">
  <div class="d-flex">
    <div class="w-75">
      <div class="d-flex flex-column py-1 px-2">
        <div class="d-flex">
          <p>
            <strong>{{ getCurrentDay() }}</strong
            >&nbsp;-
          </p>
          <p>&nbsp;{{ currentDate }}</p>
        </div>
        <p>{{ currentTime }}</p>
      </div>
    </div>
    <div class="w-25">
      <div class="text-center mt-2">
        <h3
          *ngIf="
            (calculateTime >= 0 && calculateTime <= 6) ||
            (calculateTime > 18 && calculateTime <= 23)
          "
        >
          <i class="bi bi-cloud-moon-fill"></i>
        </h3>
        <h3 *ngIf="calculateTime > 6 && calculateTime <= 12">
          <i class="bi bi-brightness-alt-high-fill ms-1"></i>
        </h3>
        <h3 *ngIf="calculateTime > 12 && calculateTime <= 18">
          <i class="bi bi-brightness-high-fill ms-1"></i>
        </h3>
      </div>
    </div>
  </div>
</div>
