.mainpage-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.creds-container {
  margin-top: 2%;
  width: 60%;
  height: 50%;
}

.creds-left-container {
  border: 1px solid red;
}

.creds-right-container {
  border: 1px solid yellow;
}

.spinner-grow {
  height: 22px;
  width: 22px;
}
