<nav class="d-flex align-items-center" style="background-color: #40417d">
  <a routerLink="/" class="navbar-brand text-white" style="font-size: 24px">
    <i class="bi bi-moon-stars ms-4" style="margin-right: 5px"> </i
    ><strong>Moon Bank</strong></a
  >

  <div id="logout-btn-container" class="ms-auto me-5 d-flex">
    <div class="bg bg-secondary" style="width: 1px"></div>
    <div class="align-self-center mt-1">
      <h4><i class="bi bi-person-circle px-3 text-light user"></i></h4>
    </div>
    <div
      id="logout-btn"
      class="py-3 px-3"
      style="color: #4d4d4d; background-color: #f2f2f2"
      (click)="logout()"
    >
      <div class="d-flex" style="font-size: 14px; line-height: 15px">
        <p class="mb-0" style="text-align: right">
          Click to <br />
          <b style="font-size: 16px">Logout</b>
        </p>
        <h5 class="align-self-end">
          <i class="bi bi-box-arrow-right" style="margin-left: 9px"></i>
        </h5>
      </div>
    </div>
  </div>
</nav>
<nav class="d-flex bg bg-light" style="height: 44px">
  <div class="d-flex ms-2">
    <div class="dropdown">
      <div
        class="py-2 px-3 bg bg-light menu-options dropbtn"
        id="menu-options"
        routerLink="/user/all-offers"
        (click)="menuLogic('offer')"
        [attr.id]="selectedMenuOption('offer')"
      >
        <b class="text-dark">Offers</b>
      </div>
      <div class="dropdown-content">
        <a routerLink="/user/car-loan" (click)="menuLogic('offer')">Car Loan</a>
        <a routerLink="/user/house-loan" (click)="menuLogic('offer')"
          >House Loan</a
        >
      </div>
    </div>

    <div style="width: 1px"></div>
    <div
      class="py-2 px-3 bg bg-light menu-options"
      id="menu-options"
      (click)="menuLogic('transfer')"
      [attr.id]="selectedMenuOption('transfer')"
    >
      <b class="text-dark">Transfer</b>
    </div>
    <div style="width: 1px"></div>
    <div class="dropdown">
      <div
        class="py-2 px-3 bg bg-light menu-options dropbtn"
        id="menu-options"
        (click)="menuLogic('card')"
        [attr.id]="selectedMenuOption('card')"
        routerLink="/user/all-cards"
      >
        <b class="text-dark">Cards</b>
      </div>
      <div class="dropdown-content">
        <a
          routerLink="/user/apply-credit-card"
          (click)="menuLogic('card')"
          class="mx-auto"
          >Apply Card</a
        >
      </div>
    </div>
    <div style="width: 1px"></div>
    <div
      class="py-2 px-3 bg bg-light menu-options"
      id="menu-options"
      (click)="menuLogic('pay')"
      [attr.id]="selectedMenuOption('pay')"
    >
      <b class="text-dark">Pay</b>
    </div>
    <div style="width: 1px"></div>
    <div
      class="py-2 px-3 bg bg-light menu-options"
      id="menu-options"
      (click)="menuLogic('invest')"
      [attr.id]="selectedMenuOption('invest')"
    >
      <b class="text-dark">Invest</b>
    </div>
  </div>
</nav>
