<!-- https://preview.themeforest.net/item/muze-multipurpose-html5-template/full_screen_preview/29581598?_ga=2.183377574.1890923308.1667851520-2004653304.1667851520 -->
<div class="d-flex flex-column flex-fill" style="height: 95.4vh !important">
  <div class="d-flex w-100">
    <div class="d-flex flex-column w-75 m-4 rounded">
      <app-carousel-pictures></app-carousel-pictures>
    </div>
    <div class="w-25 me-4 mt-4 d-flex">
      <div class="ms-auto me-2 mt-2">
        <app-public-announcement></app-public-announcement>
      </div>
    </div>
  </div>
  <div class="mt-auto">
    <app-page-footer></app-page-footer>
  </div>
</div>
